<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sistema de Estoque</title>
</head>

<body>
    <header class="container mt-3" id="inicioPagina">
        <nav class="navbar menu navbar-expand-lg navbar-light">          
          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/estoque">Estoque<span class="sr-only">(página atual)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/cadastrarProduto">Cadastrar Produto</a>
              </li> 
            </ul>            
          </div>
        </nav>
      </header>
    <section class="container">
        <!-- PLUGING LIBRAS -->
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">             
                <h1 class="mt-5">Editar Produto</h1>
                <form action="/editarProduto" method="POST">
               
                <div class="form-group">
                    <label for="produto_estoque">Produto</label>
                    <input class="form-control" id="produto_estoque" type="text" name="produto_estoque" placeholder="Nome do produto" value="<%= lista_produtos.produto_estoque %>" required>
                </div>
                <div class="form-group">
                    <label for="preco_estoque">Preço</label>
                    <input class="form-control" id="preco_estoque" type="text" name="preco_estoque" placeholder="Valor do produto" value="<%= lista_produtos.preco_estoque %>" required>
                </div>
                <div class="form-group">
                    <label for="quant_estoque">Quantidade no estoque </label>
                    <input class="form-control" id="quant_estoque" type="number" name="quant_estoque" placeholder="Quantidade no estoque" value="<%= lista_produtos.quant_estoque %>" required>
                </div>
                <input type="hidden" name="id" value="<%= lista_produtos.id %>">  
                <button class="btn btn-outline-primary" type="submit">Enviar</button>
            </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <script src="/js/validacao.js"></script>
    <script src="/js/search.js"></script>
    </html>