* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #171717;
}

body {
  background-color: #ffffff;
  color: #171717;
}

.nav-link {
  font-size: 20px;
  color: black;
}

.nav-link:hover {
  background-color: rgba(64, 224, 208, 0.10);
  font-size: 21px;
}
.navbar-nav li a:hover {
  background-color: rgba(64, 224, 208, 0.10);
  border-radius: 10px;
}

.icones {
  margin: 10px;
  width: 30px;
  height: 30px;
}

.icones:hover {
  width: 31px;
  height: 31px;
}


.footer {
  position: absolute;
  bottom: 5px;
  text-align: center;
  margin: 0 auto;
  border-top: rgba(64, 224, 208, 0.3) 1px solid;
}

.menu {
  border-bottom: #FECD2B 1px solid;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 200px;
  color: #171717;
}

#btn-top {
  z-index: 500;
  position: fixed;
  bottom: 50px;
  right: 15px;
}

#btn-top img {
  width: 50px;
  height: 50px;
}